services:
  mongodbatlas:
    image: 'mongodb/mongodb-atlas-local:latest'
    ports:
      - '27017'
    volumes:
      - mongodb_data:/data/db

  jenkins:
    image: jenkins/jenkins:lts-jdk17
    privileged: true
    user: root
    ports:
      - "9090:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - default

volumes:
  mongodb_data:
  jenkins_home: